@font-face {
    font-family: seeds;
    src: url(./65f030dd1f445b7cd6262e84_Amulya-Variable.woff2);
}

body{
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    font-family: seeds;
}
.container{
   width: 100%;
   height: 100%;
}
.nav{
    width: 100%;
    height: 10vh;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 90px;
    justify-content: center;
}
.nav img{
    width: 10vw;
    height: 20vh;
    border-radius: 50%;
}
.nav li{
    list-style: none;
}
.nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.nav a:hover{
    color: #96F000;
    transition: all ease 1s;
}
/* From Uiverse.io by MuhammadHasann */ 
button {
    position: relative;
    padding: 10px 40px;
    background: #2BE846;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: 1px solid #2BE846;
    border-radius: 8px;
    box-shadow: 0 0 0 #2BE846;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s ease;
  }
  
  button:hover {
    background: transparent;
    color: #2BE846;
    box-shadow: 0 0 25px #fec1958c;
  }
  
  button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .fil0 {
    fill: #fffdef;
  }

  
.center{
width: 100%;
height: 100%;
display: flex;
}

.hero{
    width: 50vw;
    height: 100vh;
    color: white;
    
}
.hero h1{
    letter-spacing: 75px;
    color: #96F000;
    margin-left: 75px;
    margin-top: 50px;
    position: absolute;
}
.hero h2{
    font-size: 70px;
    padding-left: 70px;
    margin-top: 90px;  
    font-weight: 400;
    font-stretch: 90px;
}
.hero .btn{
margin-left: 70px;
margin-top: -20px;  
}

.disc{
    width: 50vw;
    height: 100vh;
    margin-top: -50px;
}
